version: '3.8'

services:
  dimewise-api:
    build: .
    command: npm run start:dev
    environment:
      NODE_ENV: development
    ports:
      - '3000:3000'
    depends_on:
      - db
    volumes:
      - ./src:/usr/src/app/src

  db:
    container_name: dimewise-db
    image: postgres:latest
    ports:
      - '5433:5432'
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: dimewise
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
